# 의존성 패키지 
node_modules/
dist/
dist-ssr/
*.local

# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS 및 에디터 관련
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 환경 변수 (보안을 위해 비밀 키 등을 저장하는 파일)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 테일윈드/빌드 도구 관련
.turbo/