.search-bar-container {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: transparent;
  gap: 10px;
}

.search-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  background-color: #ffffff;
}

.search-input:focus,
.search-input:focus-visible {
  border-color: #ddd;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}